body {
    color: #999;
    font-family: microsoft yahei, Arial, '微软雅黑';
    background: #fff
}

a {
    text-decoration: none;
    color: #999
}

a:hover {
    text-decoration: underline;
    color: #999
}

.iwidth {
    width: 1080px;
    margin: 0 auto
}

.clear {
    clear: both
}
/* 导航 */

.header,
.topbak {
    position: relative;
    height: 80px;
}

.header {
    width: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;
    border-bottom: 1px solid #f2f2f2;
}

.nav-site {
    height: 80px;
    overflow: hidden;
    zoom: 1;
    float: right;
}

.nav-site li {
    float: left;
    height: 80px;
    line-height: 80px;
    color: #fff;
    width: 100px;
    text-align: center;
    position: relative;
    z-index: 9;
}

.nav-site li a {
    color: #313131;
    font-size: 16px;
    font-family: '微软雅黑';
    text-decoration: none;
}

.nav-site li a span {
    font-size: 16px;
}

.nav-site li a:hover {
    color: #66c5b4;
}

.nav-site li .ahov {
    color: #66c5b4;
}



/* home */
.itit {
    margin: 52px 0 0px;
    overflow: hidden;
    zoom: 1;
    text-align: center
}

.icase {
    background: #f8f8f8;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 30px;
}

.icase .icasetit span {
    font-size: 32px;
    color: #66c5b4;
    font-weight: 600;
    font-family: Verdana;
}

.icaselist {
    margin-top: 35px;
    overflow: hidden;
}

.icaselist li {
    width: 340px;
    float: left;
    margin: 0 10px;
}

.icaselist li .casethumb {
    height: 180px;
    position: relative;
    overflow: hidden;
    zoom: 1;
}

.icaselist li .info {
    width: 340px;
    height: 240px;
    box-shadow: 0 0 8px 4px #e7e7e7;
    margin-bottom: 80px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.info .organiser {
    width: 100%;
    font-size: 16px;
    color: coral;
}

.info .caption {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    color: turquoise;
}


.info .i-item {
    font-size: 14px;
    width: 100%;
    text-align: left;
    color: #313131;
    margin-bottom: 10px;
}

.info .i-item span {
    display: inline-block;
    width: 80PX;
    font-size: 14px;
    color: #000;
}

.icaselist li .casethumb a:hover {
    text-decoration: none
}

.icasemore {
    width: 165px;
    margin-left: -83px;
    line-height: 35px;
    color: #fff;
    font-family: Verdana;
    font-size: 14px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    background: url(../images/casecur.png) no-repeat 0 0;
    margin-top: 40px;
}

.icaselist li .vlock {
    display: none;
    width: 340px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: hwb(169 16% 26% / 0.5);
}

.icaselist li .vlock p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 120px;
    height: 30px;
}

.icasemore:hover {
    color: #fff;
    text-decoration: underline;
}

.icaselist li:hover .vlock {
    display: block;
}

.s1 {
    background: url(../images/s1.jpg) no-repeat center 0;
    height: 800px;
}

.s2 {
    height: 800px;
    background: url(../images/s2.jpg) no-repeat center 0;
}

.s3 {
    height: 800px;
    background-color: darkgreen;
}

.s4 {
    height: 1000px;
    background: url(../images/s4.jpg) no-repeat center 0;
}

.stxt {
    position: absolute;
    line-height: 26px;
}

.s1 .stxt {
    top: 400px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.s2 .stxt {
    top: 350px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.s3 .stxt {
    top: 270px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.s4 .stxt {
    top: 600px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.stxt .title {
    font-size: 40px;
    margin-bottom: 42px;
}

.stxt .content {
    font-size: 28px;
    line-height: 2;
}

/* fundary */

.ncase {
    padding: 47px 0 0px;
    background: #f0f0f0;
    overflow: hidden;
    margin-top: 80px;
    position: relative;
}

.form-box {
    width: calc(50% - 540px);
    height: 500px;
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box .title {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #127acf;
    margin-bottom: 25px;
}

.my-form {
    --_clr-primary: #666;
    --_clr-hover: #f33195;
    --_clr-checked: #127acf;
    width: 130px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.my-form>div {
    --_clr-current: var(--_clr-primary);

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.my-form>div+div {
    margin-block-start: 0.5rem;
}

.my-form label {
    cursor: pointer;
    color: var(--_clr-current);
    transition: color 150ms ease-in-out;
}

.my-form input[type="checkbox"] {
    appearance: none;
    outline: none;
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1;
    padding: 0.25rem;
    background: transparent;
    border: 1px solid var(--_clr-current);
    border-radius: 2px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.my-form input[type="checkbox"]::after {
    content: "\2714";
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    color: var(--_clr-checked);
    font-size: inherit;
    font-family: inherit;
}

.my-form label:hover,
.my-form input[type="checkbox"]:focus-visible,
.my-form input[type="checkbox"]:focus-visible+label,
.my-form input[type="checkbox"]:hover,
.my-form input[type="checkbox"]:hover+label {
    --_clr-current: var(--_clr-hover);
}

.my-form input[type="checkbox"]:focus-visible::after,
.my-form input[type="checkbox"]:hover::after {
    opacity: 0.5;
    color: var(--_clr-hover);
}

.my-form input[type="checkbox"]:checked+label:not(:hover),
.my-form input[type="checkbox"]:checked:not(:hover) {
    --_clr-current: var(--_clr-checked);
}

.my-form input[type="checkbox"]:checked::after {
    opacity: 1;
}

.form-box button {
    width: 150px;
    height: 60px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
}

.form-box button:hover {
    background: #315cfd;
    color: white;
    font-size: 1.5em;
}

.ohidd {
    overflow: hidden;
    zoom: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex-shrink: 0;
    margin-bottom: 20px;
}

.bcf {
    background: #fff;
    padding: 10px 10px 20px;
    box-sizing: border-box;
    width: 240px;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #ABDAD2;
}

#caselist {
    margin-bottom: 50px;
}

.ncase li {
    padding: 0 0 0px;
    overflow: hidden;
    zoom: 1;
}

.ncase li .thumb {
    width: 100%;
    margin-bottom: 10px;
    position: relative
}

.ncase li .thumb a img {
    width: 100%;
    height: 130px;
}

.ncase li h3 a {
    color: #313131;
    font-size: 14px;
}

.ncase li .desc {
    height: 150px;
    overflow: hidden;
    color: #7b7b7b;
    margin: 10px 0;
    line-height: 24px;
    color: #7b7b7b;
}

.ncase li .nmore {
    color: #66c5b4;
    font-size: 11px;
    font-family: Verdana
}

.ncase li .nmore:hover {
    text-decoration: underline
}

.ncase li .thumb a:hover .ctm,
.ncase li .thumb a:hover .link {
    display: block
}

.ncase li h3 a:hover {
    text-decoration: underline
}

/* inner */

.casecon {
    padding: 37px 0 49px;
    overflow: hidden;
    zoom: 1;
    background: #f0f0f0;
    margin-top: 80px;
}

.simg {
    height: 470px;
}

.casetit {
    height: 66px;
    line-height: 66px;
    background: #fff;
    text-align: right;
    padding: 0 28px;
}

.casetit h3 {
    float: left;
    font-size: 18px;
    color: #313131;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

.casetit span {
    margin-left: 20px;
}

.ccon {
    margin: 30px 30px 55px;
    overflow: hidden;
    color: #999999;
    line-height: 26px;
}

.cview {
    display: block;
    height: 35px;
    width: 215px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: url(../images/xqcur.png) no-repeat 0 0;
    margin: 0 auto;
    margin-top: 30px;
}

.cview:hover {
    color: #fff;
    text-decoration: underline;
    background-image: url(../images/xqhover.png);
}
/*This code is a CSS style sheet that defines the style of a webpage.*/