* {
    margin: 0;
    padding: 0
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dt,
dd,
img,
form {
    margin: 0;
    padding: 0;
    border: 0;
}
/*Used to reset the default styles of common elements in web pages to ensure consistent appearance across different browsers*/
body {
    font-family: "微软雅黑";
}

ul,
ol,
li {
    list-style: none;
}

table,
td,
tr,
th,
input,
select {
    font-size: 13px;
}

input {
    font-family: "微软雅黑", "Arial", "宋体", "华文宋体";
}
/*Set specific styles for multiple elements in web pages*/
.clear {
    zoom: 1;
}

.clear:after {
    display: block;
    clear: both;
    height: 0;
    content: ''
}

a {
    text-decoration: none;
    font-family: "微软雅黑";
    border: none;
}
/*A CSS style definition that sets some styles for<a>tags.*/
a:link {
    text-decoration: none;
    border: none;
}

a:hover {
    text-decoration: none;
    border: none;
}

.fll {
    float: left
}

.flr {
    float: right
}

.posa {
    position: absolute
}
/*Used to set specific styles for multiple elements in web pages*/
/*This code is a CSS style sheet that defines default styles for multiple elements in a webpage.*/